$primary: #5797FB;
$default-hover: #ededed;
$border-color:#dbdbdb;

.rayr-page-container{
    display: flex;
    justify-content: flex-end;
    flex:1;
    .rayr-page {
        flex:none;
        right: 0;
        display: flex;
        // font-size: 13px;
        li,.input-go{
            flex:none; 
            display: flex;
            border:1px solid $border-color;
            margin:4px;
            min-width: 30px;
            height: 30px;
            font-size: 13px;
            cursor: pointer;
            color:#757575;
            border-radius: 2px;
            span{
                text-align: center;
                margin: auto;  
                padding:0 4px;
            }
            &:hover{
                background-color: $default-hover;
            }
            
        }
        .input-go{
            height: 28px;
            // text-indent: 0.25rem;
            text-align: center;
            cursor:auto;
            &:focus{
                outline: none;
                border: 1px solid $primary;
            }
            &:hover{
                background-color: #ffffff;
            }
            &::placeholder{
                color:$border-color;
            }
        }
        .li-go-text{
            border: 0px;
            cursor: default;
            &:hover{
                background-color: #ffffff;
            }
        }
        .li-page-text{
            width: 30px;
            border:0px;
            cursor: default;
            margin-left: 0;
            &:hover{
                background-color: #ffffff;
            }
        }
        .value-blue{
            background-color:$primary;
            color:white;
            font-weight: 400;
            &:hover{
                opacity: 0.88;
                background-color:$primary;
            }
        }
        .click-disable{
            cursor:not-allowed;
            background-color: $default-hover;
            opacity: 0.5;
        }
    }

    //大尺寸
    .lg-rayr-page{
        li,.input-go{
            min-width: 34px;
            height: 34px;
            font-size: 14px;     
        }
        .input-go{
            height: 32px;
        }
    }

    //小尺寸
    .sm-rayr-page{
        li,.input-go{
            min-width: 24px;
            height: 24px;
            font-size: 12px;     
        }
        .input-go{
            height: 22px;
        }
    }
}