
.rayr-page-div{
    display: flex;
    justify-content: flex-end;
    flex:1;
    .rayr-page {
        flex:none;
        right: 0;
        display: flex;
        // font-size: 13px;
        li,.input-go{
            flex:none; 
            display: flex;
            border:1px solid #dbdbdb;
            margin:4px;
            min-width: 30px;
            height: 30px;
            font-size: 13px;
            cursor: pointer;
            color:#757575;
            border-radius: 2px;
            span{
                text-align: center;
                margin: auto;  
                padding:0 4px;
            }
            .start-end{
                color:#ccc;
            }
            &:hover{
                background-color: #ededed;
            }
            
        }
        .input-go{
            // width: 1.4rem;
            height: 28px;
            // text-indent: 0.25rem;
            text-align: center;
            cursor:auto;
            &:focus{
                outline: none;
                border: 1px solid #5797FB;
            }
            &:hover{
                background-color: #ffffff;
            }
            &::placeholder{
                color:#ccc;
            }
        }
        .li-go-width{
            // width: 50px;
            border:0px;
            cursor: default;
            &:hover{
                background-color: #ffffff;
            }
        }
        .li-page-width{
            width: 30px;
            border:0px;
            cursor: default;
            margin-left: 0;
            &:hover{
                background-color: #ffffff;
            }
        }
        .value-blue{
            background-color:#5797FB;
            color:white;
            font-weight: 400;
            &:hover{
                opacity: 0.88;
                background-color:#5797FB;
            }
        }
        .click-disable{
            cursor:not-allowed;
            background-color: #ededed;
            opacity: 0.5;
        }
    }
    .lg-rayr-page{
        li,.input-go{
            min-width: 34px;
            height: 34px;
            font-size: 14px;     
        }
        .input-go{
            height: 32px;
        }
    }
    .sm-rayr-page{
        li,.input-go{
            min-width: 24px;
            height: 24px;
            font-size: 12px;     
        }
        .input-go{
            height: 22px;
        }
    }
}

.div-test{
    border:solid 1px #dbdbdb;
}